services:
    spring-api:
        ports:
            - '8080:8080'
        environment:
            SPRING_PROFILES_ACTIVE: dev
    webapp:
        build:
            context: ./webapp
            target: dev
            args:
                VITE_API_BASE_URL: "."
        command: npm run dev -- --host
        ports:
            - '5173:5173'
    reverse-proxy:
        profiles:
            - with-proxy
