services:

  # Database service
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pgdata:/var/lib/postgresql/data

  # Spring Boot API service
  spring-api:
    build: ./spring-api
    expose:
      - "8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/${POSTGRES_DB}
      SPRING_DATASOURCE_USERNAME: ${POSTGRES_USER}
      SPRING_DATASOURCE_PASSWORD: ${POSTGRES_PASSWORD}
    depends_on:
      - db

  # Frontend Web Application service
  webapp:
    build: ./webapp
    expose:
      - "80"
    depends_on:
      - spring-api

  # Nginx Reverse Proxy service
  reverse-proxy:
    image: nginx:stable-alpine
    volumes:
      - ./reverse-proxy/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - "80:80" # public entrypoint on host port 80
    depends_on:
      - webapp
      - spring-api

volumes:
  pgdata:

networks:
  default:
    driver: bridge